<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Пользователь ' + ${user.getSurname()}"></title>
</head>
<body>
    <div class="reader-details">
        <div class="detail-row">
            <div class="detail-label">Фамилия:</div>
            <div class="detail-value" th:text="${user.getSurname()}"></div>
        </div>

        <div class="detail-row">
            <div class="detail-label">Имя:</div>
            <div class="detail-value" th:text="${user.getName()}"></div>
        </div>

        <div class="detail-row">
            <div class="detail-label">Отчество:</div>
            <div class="detail-value" th:text="${user.getPatronymic()} ?: 'Не указано'"></div>
        </div>

        <div class="detail-row">
            <div class="detail-label">Возраст:</div>
            <div class="detail-value">
                <span th:text="${currYear - user.getBirthdayYear()}"></span>
                <span> лет</span>
            </div>
        </div>

        <div class="detail-row">
            <div class="detail-label">Электронная почта:</div>
            <div class="detail-value" th:text="${user.getEmail()} ?: 'Не указана'"></div>
        </div>

        <div class="detail-row">
            <div class="detail-label">Ваша роль в приложении:</div>
            <div class="detail-value" th:each="role : ${user.getUserRoles()}">
                <p th:text="${role.getName()}"></p>
            </div>
        </div>
        <div th:if="${user.isUser()}">
            <div>
                <h2>Запланированные анализы:</h2>
                <div th:each="appointment: ${user.getAllAnalyses()}">
                    <div th:if="${appointment.isAnalysisInWaitingState()}">
                        <p th:text="${appointment.getAnalysis().getName()} + ': ' + ${appointment.getDate()} + ' (' + ${appointment.getTime() + ')'}"></p>
                    </div>
                </div>
            </div>
            <div>
                <h2>Анализы в обработке:</h2>
                <div th:each="appointment: ${user.getAllAnalyses()}">
                    <p th:if="${appointment.isAnalysisInProcessing()}" th:text="${appointment.getAnalysis().getName()}"></p>
                </div>
            </div>
            <div>
                <h2>Готовые анализы:</h2>
                <div th:each="appointment: ${user.getAllAnalyses()}">
                    <div th:if="${appointment.isAnalysisCompleted()}">
                        <p th:text="${appointment.getAnalysis().getName()} + ': ' + ${appointment.getDate()}"></p>
<!--                        pdf-button-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" href="/vinitro/users" class="back-link">← Вернуться к списку пользователей</a>
    <a th:unless="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" href="/vinitro/index" class="back-link">← Вернуться на главную страницу</a>
</body>
</html>