<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Анализ ' + ${analysis.getName()}"></title>
</head>
<body>
    <div class="reader-details">
        <div class="detail-row">
            <div class="detail-label">Название анализа:</div>
            <div class="detail-value" th:text="${analysis.getName()}"></div>
        </div>

        <div class="detail-row">
            <div class="detail-label">Продолжительность взятия анализа:</div>
            <div class="detail-value" th:text="${analysis.getAnalysisDuration()}"></div>
        </div>

        <div class="detail-row">
            <div class="detail-label">Поля анализа:</div>
            <div class="detail-value">
                <ul th:if="${not #lists.isEmpty(analysis.getFields())}">
                    <li th:each="field : ${analysis.getFields()}" th:text="${field.name}"></li>
                </ul>
                <div th:if="${#lists.isEmpty(analysis.getFields())}">Нет полей для отображения</div>
            </div>
        </div>
        <div th:if="${not analysis_status.isField()} and not${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')} and not${#authorization.expression('hasAuthority(''ROLE_NURSE'')')} and not${#authorization.expression('hasAuthority(''ROLE_ASSISTANT'')')}">
            <a th:href="@{/vinitro/analyses/{id}/appoint (id = ${analysis.getId()})}">
                <button style="color: #3B82F6">Записаться</button>
            </a>
        </div>
        <div th:unless="${not analysis_status.isField()}">Вы уже записаны на этот анализ</div>
    </div>
    <a href="/vinitro/analyses" class="back-link">← Вернуться к списку анализов</a>
</body>
</html>