<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vinitro</title>
    <link rel="icon" href="/images/vinitro_icon.png" type="image/x-icon">
</head>
<body>
    <a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'') or hasAuthority(''ROLE_NURSE'') or hasAuthority(''ROLE_USER'')')}" href="/vinitro/analyses"><img src = "/images/analyses.png" alt="analyses"></a>
    <a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'') or hasAuthority(''ROLE_ASSISTANT'')')}" href="/vinitro/analyses/processing"><img src = "/images/analyses_completing.png" alt="analyses_completing"></a>
    <a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'') or hasAuthority(''ROLE_NURSE'')')}" href="/vinitro/analyses/waiting"><img src = "/images/analyses_approving.png" alt="analyses_approving"></a>
    <a th:if="${user.isUser()}" th:href="@{/vinitro/users/{id} (id=${user.getId()})}"><img src = "/images/personal_data.png" alt="personal"></a>
    <a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'') or hasAuthority(''ROLE_NURSE'')')}" href="/vinitro/users"><img src = "/images/all_users.png" alt="all_users"></a>

</body>
</html>